{# Carrega as ferramentas de arquivos estáticos do Django, permitindo usar a tag {% static %} para mapear CSS, JS e imagens #}
{% load static %}
{# Define a codificação de caracteres UTF-8 para garantir que acentos e símbolos apareçam corretamente no navegador #}
<meta charset="UTF-8">
{# Garante a renderização e compatibilidade visual corretas no navegador Internet Explorer antigo #}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{# Configura a janela de visualização (viewport) para tornar a página responsiva em celulares, tablets e computadores #}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# Importa o arquivo remedy.css para resetar/corrigir inconsistências de estilo nos navegadores #}
<link rel="stylesheet" href="{% static 'blog/css/remedy.css' %}">
{# Vincula o arquivo de estilização CSS externo, buscando-o de forma dinâmica dentro da pasta estática do app blog #}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{# Define o título oficial da página que será exibido na aba do navegador do usuário #}

{# Verifica se existe um favicon configurado no site_setup #}
{% if site_setup.favicon %}
  {# Renderiza o link com a URL dinâmica do favicon #}
  <link rel="shortcut icon" href="{{ site_setup.favicon.url }}" type="image/png">
{% endif %}
{# Define o título da página que aparece na aba do navegador e nos resultados de busca do Google #}
{# O {{ site_setup.title }} injeta dinamicamente o nome do site configurado no banco de dados #}
<title>{{ site_setup.title }}</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />