<!-- Define o tipo de documento como HTML5 para o navegador -->
<!DOCTYPE html>
<!-- Inicia a tag HTML principal e define o idioma da página como português -->
<html lang="pt-BR">

<head>
  {# Injeta dinamicamente todo o conteúdo do arquivo '_head.html' que está localizado na pasta de parciais do blog #}
  {% include 'blog/partials/_head.html' %}
</head>

<!-- Abre o corpo da página, onde fica todo o conteúdo visível para o usuário -->
<body>
  {# Inicia o bloco de template Django chamado 'content' para ser preenchido por outras páginas #}
  {# Fecha o bloco de template Django chamado 'content' #}
  {% block content %}{% endblock content %}
<!-- Fecha a tag do corpo da página -->
</body>

<!-- Fecha a tag HTML principal e encerra o documento -->
</html>